@use './functions' as *;

// Colors
$primary-colors: (
	'Dark Blue': hsl(233, 26%, 24%),
	'Lime Green': hsl(136, 65%, 51%),
	'Bright Cyan': hsl(192, 70%, 51%),
);

$neutral-colors: (
	'Grayish Blue': hsl(233, 8%, 62%),
	'Light Grayish Blue': hsl(220, 16%, 96%),
	'Very Light Gray': hsl(0, 0%, 98%),
	'White': hsl(0, 0%, 100%),
	'blue-green': hsl(228, 45%, 44%),
	"semi-transparent black": hsla(0, 0%, 0%, 0.5),
);

// Typography basic values
$base-font-size: convert-to-rem(18px);
$default-font-family: "'Public Sans', sans-serif";
$font-weights: (
	'light': 300,
	'regular': 400,
	'bold': 700,
);

// this a linear gradient generated for the invite button
// combination of Lime Green and Bright Cyan
$generated-linear-gradient: linear-gradient(
	90deg,
	hsl(136deg 65% 51%) 0%,
	hsl(144deg 66% 51%) 29%,
	hsl(152deg 66% 51%) 42%,
	hsl(160deg 67% 51%) 53%,
	hsl(168deg 68% 51%) 63%,
	hsl(176deg 69% 51%) 74%,
	hsl(184deg 69% 51%) 86%,
	hsl(192deg 70% 51%) 100%
);
