@use '../tools' as *;

.articles {
	background-color: map-get($map: $neutral-colors, $key: 'Very Light Gray');
	padding: 6rem 1.45rem;

	#{&}__main-title {
		text-align: center;
		@include font-and-color(
			map-get($primary-colors, 'Dark Blue'),
			map-get($font-weights, 'regular')
		);
		padding: 0.75rem;
		margin-block-start: 0;
		margin-bottom: 1.25rem;
	}

	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		padding-inline: convert-to-rem(115px);

		#{&}__main-title {
			grid-column: 1/6;
			text-align: left;
		}

		& > :not(#{&}__main-title) {
			margin-bottom: 0;
		}
	}

	#{&}__container {
		@include set-responsive-layout(map-get($breakpoints, 'medium')) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: convert-to-rem(15px);
		}

		@include set-responsive-layout(map-get($breakpoints, 'large')) {
			grid-template-columns: repeat(4, 1fr);
			gap: 0;
		}
	}
}
