@use '../tools' as *;

.header-wrapper {
	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		display: flex;
		justify-content: space-between;
		gap: convert-to-rem(70px);
		margin-left:convert-to-rem(70px);

		header {
			align-self: center;
			order: 1;
		}

		.mockups-wrapper {
			order: 2;
		}
	}
}
