@use '../tools' as *;

.mockups-wrapper {
	background-image: url('../../images/bg-intro-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		background-image: url('../../images/bg-intro-desktop.svg');
		flex: 1;
		background-size: 160%;
		background-position: center left;

		.mockups-image {
			position: absolute;
			right: -60px;
			top: -60px;
		}
	}

	@include set-responsive-layout(map-get($breakpoints, 'large')) {
		.mockups-image {
			position: absolute;
			right: -90px;
			top: -130px;
		}
	}
}
