@use '../tools' as *;

.mockups-wrapper {
	background-image: url('../../images/bg-intro-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		background-image: none;

		.mockups-image {
			position: absolute;
			right: -60px;
			top: -60px;
		}
	}

	.bg-desktop {
		@include set-mobile-responsive-layout(map-get($breakpoints, 'medium')) {
			display: none;
		}
	}

	@include set-responsive-layout(map-get($breakpoints, 'large')) {
		background-image: none;

		.mockups-image {
			position: absolute;
			right: -90px;
			top: -130px;
		}
	}
}
