@use '../tools' as *;

.article {
	background-color: map-get($map: $neutral-colors, $key: 'White');
	width: 90%;
	margin-inline: auto;
	box-shadow: 9px 10px 5px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 9px 10px 5px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 5px -8px rgba(0, 0, 0, 0.75);

	@include set-mobile-responsive-layout(map-get($breakpoints, 'medium')) {
		margin-bottom: convert-to-rem(20px);
	}

	& > :not(figure) {
		padding: 0 1.75rem;
	}

	&:hover {
		transform: translateY(-12px);
		cursor: pointer;
	}

	#{&}__author-name {
		margin: 1.75rem 0 1rem 0;
		font-size: 0.95rem;
		@include font-and-color(
			map-get($neutral-colors, 'Grayish Blue'),
			map-get($font-weights, 'light')
		);
	}

	#{&}__title {
		margin-block-start: 0;
		@include font-and-color(
			map-get($primary-colors, 'Dark Blue'),
			map-get($font-weights, 'bold')
		);
	}

	#{&}__content {
		font-size: 1rem;
		@include font-and-color(
			map-get($neutral-colors, 'Grayish Blue'),
			map-get($font-weights, 'light')
		);
		padding-bottom: 1.5rem;
	}
}
