@use '../tools' as *;

.request-invite-btn {
	@include font-and-color(
		map-get($map: $neutral-colors, $key: 'White'),
		map-get($map: $font-weights, $key: 'bold')
	);
	background-image: $generated-linear-gradient;
	border-radius: 25px;
	margin-inline: auto;
	padding: 0.65rem 1.45rem;

	&:hover {
        @extend %btn-hover;
    }
}
