@use '../tools' as *;

.request-invite-btn {
	@include font-and-color(
		map-get($map: $neutral-colors, $key: 'White'),
		map-get($map: $font-weights, $key: 'bold')
	);
	font-size: 0.95rem;
	background-image: $generated-linear-gradient;
	border-radius: convert-to-rem(25px);
	margin-inline: auto;
	padding: 0.65rem 1.45rem;
	position: relative;

	@include set-mobile-responsive-layout(map-get($breakpoints, 'medium')) {
		display: none;
	}

	&:hover {
		@extend %btn-hover;
	}

	&:hover::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: map-get(
			$map: $neutral-colors,
			$key: 'Light Grayish Blue'
		);
		border-radius: convert-to-rem(25px);
		opacity: 0.3;
	}
}
