@use "../tools" as *;

.navigation-menu {
    width: 85%;
    text-align: center;
    margin-inline: auto;
    color: map-get($map: $primary-colors, $key: "Dark Blue");
    font-weight: map-get($map: $font-weights, $key: "regular");

    #{&}__option {
        padding: 0.35rem;
    }
}
