@use '../tools' as *;

.navigation-menu {
	@include font-and-color(
		map-get($map: $primary-colors, $key: 'Dark Blue'),
		map-get($map: $font-weights, $key: 'light')
	);
	font-size: 0.92rem;
	width: 85%;
	text-align: center;
	margin-inline: auto;
	border-radius: 4.5px;

	#{&}__option {
		padding: 0.35rem;
	}

	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		display: flex;
		gap: 25px;
		margin-block-start: 0;
		width: fit-content;

		.navigation-menu__option--active {
			height: 100%;
			display: grid;
			place-content: center;

			&:hover {
				border-bottom: 3px solid map-get($map: $primary-colors, $key: 'Lime Green');
			}
		}
	}
}

.navigation-menu--white-text {
	color: map-get($map: $neutral-colors, $key: 'White');
}

.navigation-menu--modified-layout {
	@include set-position('absolute', 60px);
	left: 8%;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.navigation-menu--white-bg {
	background-color: map-get($map: $neutral-colors, $key: 'White');
}
