@use "../tools" as *;

.navigation-menu {
    @include font-and-color(map-get($map: $primary-colors, $key: "Dark Blue"), map-get($map: $font-weights, $key: "regular"));
    width: 85%;
    text-align: center;
    margin-inline: auto;
    border-radius: 8px;

    #{&}__option {
        padding: 0.35rem;
    }
}

.navigation-menu--white-text {
    color: map-get($map: $neutral-colors, $key: "White");
}
