@use '../tools' as *;

.service {
	@extend %initial-animation-state;

	#{&}__img {
		margin-inline: auto;
	}

	#{&}__title {
		@include font-and-color(
			map-get($map: $primary-colors, $key: 'Dark Blue'),
			map-get($map: $font-weights, $key: 'regular')
		);
	}

	#{&}__description {
		@include font-and-color(
			map-get($map: $neutral-colors, $key: 'Grayish Blue'),
			map-get($map: $font-weights, $key: 'light')
		);
	}

	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		#{&}__img {
			margin-inline: 0;
		}

		&:first-child {
			transform-style: 0.25s;
		}

		&:nth-child(2) {
			transition-delay: 0.5s;
		}

		&:nth-child(3) {
			transition-delay: 0.75s;
		}

		&:nth-child(4) {
			transition-delay: 1s;
		}
	}
}
