@use '../tools' as *;

.hidden {
	display: none;
}

.translate-in {
	transform: translateX(0);
}

.fade-in {
	opacity: 1;
}

.stop-scrolling {
	overflow: hidden;
	@include set-responsive-layout(map-get($breakpoints, 'medium')) {
		overflow-y: scroll;
	}
}
