.close-menu-btn:hover, .open-menu-btn:hover, .request-invite-btn:hover {
  cursor: pointer;
  scale: 1.1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin-block-end: 0;
}

body {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
  padding-inline: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Unset links styling */
a {
  text-decoration: none;
  display: block;
  color: unset;
}

button {
  background-color: inherit;
  border: none;
  display: block;
}

* {
  font-family: 'Public Sans', sans-serif;
}

body {
  font-size: 1.125rem;
  position: relative;
  z-index: 0;
}

.hidden {
  display: none !important;
}

.navigation-menu {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  width: 85%;
  text-align: center;
  margin-inline: auto;
  border-radius: 4.5px;
}
.navigation-menu .navigation-menu__option {
  padding: 0.35rem;
}
@media (width > 768px) {
  .navigation-menu {
    display: flex;
    gap: 25px;
    margin-block-start: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navigation-menu li {
    align-self: center;
  }
}

.navigation-menu--white-text {
  color: hsl(0, 0%, 100%);
}

.navigation-menu--modified-layout {
  position: absolute;
  top: 60px;
  left: 8%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navigation-menu--white-bg {
  background-color: hsl(0, 0%, 100%);
}

.request-invite-btn {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  background-image: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(144, 66%, 51%) 29%, hsl(152, 66%, 51%) 42%, hsl(160, 67%, 51%) 53%, hsl(168, 68%, 51%) 63%, hsl(176, 69%, 51%) 74%, hsl(184, 69%, 51%) 86%, hsl(192, 70%, 51%) 100%);
  border-radius: 25px;
  margin-inline: auto;
  padding: 0.65rem 1.45rem;
}
@media (width > 768px) {
  .request-invite-btn {
    width: 20%;
  }
}

.why-us {
  margin-bottom: 3.5rem;
}
.why-us .why-us__title {
  color: hsl(233, 26%, 24%);
  font-weight: 700;
}
.why-us .why-us__text {
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}

.service .service__img {
  margin-inline: auto;
}
.service .service__title {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}
.service .service__description {
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}

.article {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin-inline: auto;
}
.article > :not(figure) {
  padding: 0 1rem;
}
.article .article__author-name {
  margin: 1.75rem 0 1rem 0;
  font-size: 0.95rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}
.article .article__title {
  margin-block-start: 0;
  color: hsl(233, 26%, 24%);
  font-weight: 700;
}
.article .article__content {
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  padding-bottom: 1.5rem;
}

figure {
  display: block;
  width: 100%;
  margin-block-start: 0;
  margin-inline: 0;
}
figure img {
  width: 100%;
}

.social-media-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.attribution {
  font-size: 0.78125rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  display: inline;
}

.modal {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.5);
}

@media (width > 768px) {
  .open-menu-btn {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: hsl(0, 0%, 100%);
}
@media (width > 768px) {
  nav {
    justify-content: space-around;
  }
  nav .bank-logo {
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
  }
  nav .navigation-menu, nav .request-invite-btn {
    margin-inline: 0;
  }
}

.mockups-wrapper {
  background-image: url("../../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: hsl(0, 0%, 100%);
  padding: 0.95rem;
  padding-bottom: 4.5rem;
  text-align: center;
}
header .header__title {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}
header .header__text {
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  margin-block-end: 1rem;
  text-wrap: balance;
}

.about-us {
  padding: 3.75rem 1.45rem;
  text-align: center;
  background-color: hsl(220, 16%, 96%);
}

.services > :not(:last-child) {
  margin-bottom: 2rem;
}

.articles {
  background-color: hsl(0, 0%, 98%);
  padding: 6rem 1.45rem;
}
.articles .articles__main-title {
  text-align: center;
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  padding: 0.75rem;
  margin-block-start: 0;
  margin-bottom: 1.25rem;
}
.articles > :not(:last-child) {
  margin-bottom: 1.85rem;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding: 3rem 2rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
footer svg {
  margin-inline: auto;
  display: block;
  margin-bottom: 1.65rem;
}
footer svg path {
  fill: white;
}
footer .footer__copy-right {
  margin: 1.7rem 0;
}
footer > .navigation-menu {
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=main.css.map */